
{% load static %}
<style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans|Voltaire');
</style>

<link href="{% static 'timetable/css/subscroll.css' %}" rel="stylesheet">
<link href="{% static 'timetable/css/iframe_style.css' %}" rel="stylesheet">
<body style="background-image: url({% static 'home/img/fav.png' %});">
        <p>
                Here's a quick look at what everything does:
                <ul>
                    <li><b>Dashboard:</b> This page you're looking at right now!</li>
                    <li><b>Activity Center:</b>
                        <ul>
                            <li><b>Timetable:</b> A quick view of this weeks timetable, with reminders</li>
                            <li><b>Polls:</b> Vote on polls set by your CR</li>
                            <li><b>Attendance Manager:</b> Check how close you are to an FA</li>
                            <li><b>CR Tools:</b> A CR's saving grace. Manage all the above functions for your classmates!</li>
                        </ul>
                    </li>
                </ul>
            </p>
</body>
